@import '../colors/gruvbox-light.scss';
// @import '../colors/gruvbox-dark.scss';

* {
  box-sizing: border-box;
}

body,
.page,
.app {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg0_h;
  color: $fg4;
  font-family: 'Roboto', sans-serif;
}

.app {
  > h1 {
    color: $blue;
  }
}
