// @import 'colors/gruvbox-light.scss';
@import 'colors/gruvbox-dark.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: $bg0_h;
  color: $fg2;
  font-size: 20px;
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.page {
  margin: 0;
  padding: 0;
}

.app {
  background-color: $bg0_h;
  padding: 1em;
  margin: 0 auto;
  height: 35em;
  width: 75em;
  border: 0.1em solid $blue;
}
